/* Optimizar el handle de arrastre */
.drag-handle {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.drag-handle-left, .drag-handle-right {
    cursor: ew-resize !important;
}

.drag-handle-top, .drag-handle-bottom {
    cursor: ns-resize !important;
}